@model KnivesStore.PL.ViewModel.KnifePanelViewModel

<div>
    <h4>KnifeViewModel</h4>
    <hr />
    <form method="post" asp-controller="Knife" asp-action="MoveToKnifePage">
        <div>
            <img src="@Model.ImagePath" class="img-thumbnail">
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Price)
            @Html.DisplayFor(model => model.Price)
        </div>
    </form>
</div>
